{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Crear Usuario | Tickets BIDSS Technology
{% endblock title %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2-bootstrap4.css' %}">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nuevo Usuario</h4>
                        <h6 class="card-subtitle"></h6>
                        <hr>
                        <form method="POST" accept-charset="utf-8" autocomplete="off" >
                          {% csrf_token %}
                          <div class="row">
                            {% for field in form %}
                            <div class="col-md-6">
                              <div class="form-group g-mb-20">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="textHelp">{{ field.help_text }}</p>
                                {% endif %}
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                </p>
                              </div>
                            </div>
                            {% endfor %}
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Grupos de usuarios</label>
                                <select name="grupos" id="id_grupos" class="form-control select2" multiple="" style="width:100%;">
                                    {% for x in grupos %}
                                      <option value="{{x.id}}">{{x.name}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="col-md-12">
                            <input type="submit" name="btn_guardar" class="btn btn-success pull-right" value="Guardar">
                          </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
{% endblock content %}
 
{% block javascript %}
  <script src="{% static 'plugins/select2/dist/js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(".select2").select2({});
      $("input[type=text], input[type=password], input[type=email], input[type=tel]").addClass('form-control');
    });
  </script>

{% endblock %}