{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Productos </h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'productos' %}">Listado Productos</a></li>
                    <li class="breadcrumb-item active">Editar Producto</li>
                </ol>
            </div>
        </div>

        <div class="row"> 
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Editar Producto</h4>
                        <h6 class="card-subtitle"></h6>
                        <hr>
                        <form method="POST" accept-charset="utf-8" autocomplete="off" >
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{prod.pk}}">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" name="prod_nombre" id="id_prod_nombre" class="form-control" maxlength="50" required  value="{{prod.prod_nombre}}" autofocus>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Responsable</label>
                                <input type="text" name="prod_responsable" id="id_prod_responsable" class="form-control" maxlength="50" required value="{{prod.prod_responsable}}">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Correo Electrónico</label>
                                <input type="text" name="prod_email" id="id_prod_email" class="form-control" maxlength="254" required value="{{prod.prod_email}}">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Estado</label>
                                <select name="prod_estado" id="id_prod_estado" required class="form-control" >
                                  <option value="1" {% if prod.prod_estado %} selected {% endif %} >Activo</option>
                                  <option value="0" {% if not prod.prod_estado %} selected {% endif %} >Inactivo</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="col-md-12">
                            <input type="submit" name="btn_guardar" class="btn btn-success pull-right" value="Guardar">
                          </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
{% endblock content %}
 
{% block javascript %}
  <script>
    $(document).ready(function(){
    });
  </script>
{% endblock javascript %}