{% autoescape off %}
    Hola {{user.first_name}} {{user.last_name}}, está recibiendo este correo electrónico porque solicitó un restablecimiento de contraseña para su cuenta de usuario en {{domain}}

    Por favor, vaya a la siguiente página y elija una nueva contraseña
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    
    Si hacer clic en el enlace anterior no funciona, copie y pegue la URL en un nuevo navegador
    ventana en su lugar.

    Atentamente,

    Savio team.
{% endautoescape %}