{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
      <style type="text/css">
        #formRestablecer{
          border-radius: 25px;
        }
        .login_link:hover{
          color: white !important;
        }
      </style>
      <!-- Promo Block -->
      <section class="g-py-50">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-3">
              
            </div> 
            <div class="col-md-6">
              <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 bg_my_amarillo" id="formRestablecer" autocomplete="off" method="POST">
                <h3 class="color_my_morado toBold">Restablecer contraseña</h3>
                <hr>
                {% csrf_token %}
                {{ form.as_p }}
                
                <hr class="g-brd-gray-light-v4 g-mx-minus-30">
                <div class="form-group text-center">
                  <div class="col-xs-12 p-b-20">
                    <button class="btn btn-block btn-lg u-btn-primary g-rounded-50 btn_my_white color_my_morado" type="submit">Aceptar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}

{% block javascript %}
<script>
  $(document).on('ready', function(){
    $('#formRestablecer').find("input[type=text], input[type=password], input[type=email], input[type=date]").addClass('form-control form-control-md  bg_input_amarillo');

    $('#formRestablecer').find('label').addClass('g-mb-10 toBold color_my_morado text-uppercase');
  });
</script>
{% endblock javascript %}